body{
    /* min-height: 50vw; */
    height: 100vh;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 238, 255, 0.562), rgb(247, 177, 120));
}

.info-btn{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 70px;
    border-radius: 50%;
    border: 4px solid rgb(64, 147, 158);
    padding: 10px;
    font-size: 40px;
    background-color: rgba(250, 217, 175, 0.432);
    color: #ff00dd;
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 50px;
    }
    .input-table {
      /* margin-top: 500px; */
    }
    .info-btn{
        width: 45px;
        font-size: 18px;
        border: 2px solid rgb(64, 147, 158);
        
    }
  }

input{
    width: 50px;
    border: none;
    font-size: 20px;
}

table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

    font-weight: 600;
  }

  table th,
  table td {
    padding: 5px;
    border-bottom: 1px solid #2a2a2a;
    min-width: 50px;
  }

  .result-table{
    font-size: 20px;
    background-color: antiquewhite;

  }

.buttons>button{
    padding: 5px;
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
}

.add-button{
    background-color: #00fa0caf;
}

.add-button:active{
    background-color: #5ece63af;

}

.out-button{
    background-color: #00ccffa6;
}

.out-button:active{
    background-color: #69cde6a6;
}

.clear-button{
    position: absolute;
    top: 40px;
    right: 40px;

    padding: 10px;

    border-radius: 4px;
    background-color: rgba(255, 38, 0, 0.945);
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .clear-button{
        top: 670px;
        right: 95px;
        left: 95px;
    }
  }

.clear-button:active{
    background-color: rgba(255, 153, 0, 0.945);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0.4;
}

.modal{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(224, 210, 188);
}

.close-info-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
}
